/* DivSection.module.css */
.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.paginationLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.paginationRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.paginationText {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.selectTrigger {
  height: 2rem;
  width: 70px;
  border-color: #cbd5e1;
}

.paginationButton {
  height: 2rem;
  border-color: #cbd5e1;
}

.disabledButton {
  opacity: 0.5;
}

.icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.iconRight {
  height: 1rem;
  width: 1rem;
  margin-left: 0.25rem;
}
