.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.wrapper {
  flex: 1;
  margin-left: 56px;
  background: #f8fafc;
}

.mainContent {
  display: flex;
  min-height: calc(100vh - 57px);
  background: #f8fafc;
}

.contentWrapper {
  flex: 1;
  max-width: 1064px;
  min-width: 0;
}

.milestonesWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 122px);
  overflow-y: auto;
  padding: 0 32px;
}