/* DealHeader styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  border-bottom: 1px solid #e2e8f0;
  padding: 16px 32px;
  background: #fff;
  width: 1064px;
} 